body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: white;
  background-image: url('https://wallpaperaccess.com/full/1454447.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #000abc !important;
  border: none !important;
}
.text{
  position: relative;
  font-size: 20px;
  padding-top: 7px;
  color: black;
  font-family: 'Emilys Candy', cursive;
  font-size: 52px;
  line-height: 74px;
}